{% extends "blog/base.html" %}
 
{% block title %}ALERT PAGE{% endblock %}
 
{% block content %}
  <!-- NAVIGATION MENU -->

  <!-- MAIN -->
  
  
<p><strong>Hello, anonymous, you've to sign in first.</strong></p>

<ul class="navbar">
    <li><a href="{% url "blog.views.test_html" %}">Home Page</a>
    <li><a href="{% url "blog.views.view_contacts" %}">Contacts Existants</a>
    <li><a href="{% url "blog.views.new_contact" %}">Ajouter un contact</a>
    <li><a href="{% url "blog.views.subscribe" %}">SIGN UP</a>
    <li><a href="{% url "blog.views.connexion" %}">SIGN IN</a>
  </ul>


  <!-- Signer et dater la page, c'est une question de politesse! -->
  <address>{{ current_date }}<br>By {{ name }}.</address>   
{% endblock %}