{% extends "blog/base.html" %}
 
{% block title %}Authentication PAGE{% endblock %}
 
{% block content %}
  <!-- NAVIGATION MENU -->

  <!-- MAIN -->
  
  <h1>SIGN IN</h1>
 
	{% if error %}
	<p><strong>Utilisateur inexistant ou mauvais mot de passe utilisé.</strong></p>
	{% endif %}
	 

	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
 
	{% if user.is_authenticated %}
	Vous êtes connecté, <strong>{{ user.username }}</strong> ! <a href="{% url "blog.views.deconnexion" %}">Deconnexion</a>

	{% else %}
	<form method="post" action=".">
	       {% csrf_token %}
	       {{ form.as_p }}
	    <input type="submit"/>
	</form>
	{% endif %}


  <!-- Signer et dater la page, c'est une question de politesse! -->
  <address>{{ current_date }}<br>By {{ name }}.</address>   
{% endblock %}