{% extends "blog/base.html" %}
 
{% block title %}FORM PAGE{% endblock %}
 
{% block content %}
  <!-- NAVIGATION MENU -->

  <!-- MAIN -->
{% if user.is_authenticated %}
  <h1>Ajouter un nouveau contact</h1>
 
	{% if sauvegarde %}
	    <p>Ce contact a bien été enregistré.</p>
	{% endif %}
	    
	<p>
	    <form method="post" enctype="multipart/form-data" action=".">
	       {% csrf_token %}
	       {{ form.as_p }}
	       <input type="submit"/>
	    </form>
	</p>
{% else %}  
  <p><strong>Connectez vous d'abord !</strong></p>
{% endif %}	


  <!-- Signer et dater la page, c'est une question de politesse! -->
  <address>{{ current_date }}<br>By {{ name }}.</address>   
{% endblock %}