{% extends "blog/base.html" %}
 
{% block title %}INDEX PAGE{% endblock %}
 
{% block content %}
  <!-- NAVIGATION MENU -->

  <!-- MAIN -->
  
  <h1>Bienvenue sur le blog des objets !</h1>
 
  {% for o in obj %}
      <div class="article">
          <h3>{{ o.slug }}</h3>
          <p><a href="{% url "blog.views.read" o.id o.slug%}">Lire la suite</a>
      </div>
  {% empty %}
      <p>Aucun article.</p>
  {% endfor %}

  <!-- Signer et dater la page, c'est une question de politesse! -->
  <address>{{ current_date }}<br>By {{ name }}.</address>   
{% endblock %}