{% extends "blog/base.html" %}
 
{% block title %}SUBSCRIBE PAGE{% endblock %}
 
{% block content %}
  <!-- NAVIGATION MENU -->

  <!-- MAIN -->
  
  <h1>SIGN UP</h1>

  {% if send %}
    <strong>Inscription Réussie!</strong>
  {% endif %}
  
  {% if notValidateUser %}
  	<strong>User already exists!</strong>
  {% endif %}

  {% if notValidatePass %}
    <strong>Passwords do not match!</strong>
  {% endif %}
 
  <form action="{% url "blog.views.subscribe" %}" method="post">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Valider" />
  </form>

  <!-- Signer et dater la page, c'est une question de politesse! -->
  <address>{{ current_date }}<br>By {{ name }}.</address>   
{% endblock %}