<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
  {% load static %}
	<link rel="stylesheet" href="{% static 'test_css.css' %}" />
  	<title> APPLI NISSAN NASSIM </title>
  	<!--<link rel="stylesheet" href="monstyle.css">-->
    	
</head>

<body>

<!-- NAVIGATION MENU -->
<ul class="navbar">
  <li><a href="index.html">Home page</a>
  <li><a href="news.html">News</a>
  <li><a href="voiture.html">My Ride</a>
  <li><a href="WoW.html">Who's Who ?</a>
  <li><a href="http://www.peugeot.fr/" target="_blank">Official Website</a>
</ul>

<!-- MAIN -->
<h1>Nissan Latest Model : Note !</h1>
{% load static %}
<img src="{% static 'nissan.jpg' %}" class="TestNissan" title ="Nissan" width="500" length="600" />

<!-- Signer et dater la page, c'est une question de politesse! -->
<address>{{ current_date }}<br>By {{name}}.</address>

</body>
</html>
