{% extends "blog/base.html" %}
 
{% block title %}TEST PAGE{% endblock %}
 
{% block content %}
 <!-- NAVIGATION MENU -->
  <ul class="navbar">
    <li><a href="index.html">Home page</a>
    <li><a href="news.html">News</a>
    <li><a href="voiture.html">My Ride</a>
    <li><a href="WoW.html">Who's Who ?</a>
    <li><a href="http://www.peugeot.fr/" target="_blank">Official Website</a>
  </ul>

  <!-- MAIN -->
  <h1>Nissan Latest Model : Note !</h1>
  {% load static %}
  <img src="{% static 'blog/nissan.jpg' %}" class="TestNissan" title ="Nissan" width="500" length="600" />

  <!-- Signer et dater la page, c'est une question de politesse! -->
  <address>{{ current_date }}<br>By {{ name }}.</address>   
{% endblock %}