{% extends "blog/base.html" %}
 
{% block title %}COMMENTS VIEW PAGE{% endblock %}
 
{% block content %}
  <!-- NAVIGATION MENU -->

  <!-- MAIN -->
    <h1>Comments posted</h1>
 
    {% for com in comments %}
        <h2>{{ com.name }}</h2>
        Adresse : {{ com.comment }}
        <p><img src="{{ MEDIA_URL }}{{ com.photo }}" width="200" length="200"/></p>
    {% endfor %}
  
  <!-- Signer et dater la page, c'est une question de politesse! -->
  <address>{{ current_date }}<br>By {{ name }}.</address>   
{% endblock %}